accelerate>=0.34.0
datasets>=2.20.0
evaluate>=0.4.2
fastapi>=0.115.0
iterative-stratification>=0.1.9
joblib>=1.4.2
kaggle>=1.6.17
matplotlib>=3.9.0
numpy>=1.26.4
onnx>=1.16.0
onnxruntime>=1.20.0
optimum[onnxruntime]>=1.23.0
pandas>=2.2.2
protobuf>=4.25.0
pydantic>=2.8.0
python-multipart>=0.0.9
rich>=13.7.1
scikit-learn>=1.5.1
scipy>=1.13.1
seaborn>=0.13.2
sentencepiece>=0.2.0
tensorboard>=2.17.0
tqdm>=4.66.4
transformers>=4.48.0
uvicorn[standard]>=0.30.0
